{
  "log-driver": "{{ docker_daemon_config['log-driver'] }}",
  "log-opts": {
{% for key, value in docker_daemon_config['log-opts'].items() %}
    "{{ key }}": "{{ value }}"{{ ',' if not loop.last else '' }}
{% endfor %}
  },
  "storage-driver": "{{ docker_daemon_config['storage-driver'] }}",
  "exec-opts": {{ docker_daemon_config['exec-opts'] | to_json }},
{% if docker_security_enabled %}
  "userns-remap": "dockremap",
  "no-new-privileges": true,
{% endif %}
  "live-restore": {{ docker_daemon_config['live-restore'] | lower }},
  "userland-proxy": {{ docker_daemon_config['userland-proxy'] | lower }},
  "ip-forward": false,
  "iptables": true
}
